# выходной бинарник
avalon
avalon.pro.user

# временные файлы сборки
debug/*
release/*

# файлы, генерируемые qmake (см. dev/build.*)
Makefile
Makefile.Debug
Makefile.Release
GeneratedFiles
*.opensdf
*.sdf
avalon.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
ipch
vc100.pdb

# подсветка синтаксиса (см. http://softwaremaniacs.org/soft/highlight/)
highlight

# документация, генерируемая doxygen
dev/doxygen/html/*
